name: Java CI with Gradle (Groovy)

on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
    branches:
      - 'main'
      - 'releases/**'

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin

    - name: Validate Gradle wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3.5.0
      with:
        arguments: build

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: "**/build/test-results/test/**/*.xml"

    - uses: actions/upload-artifact@v4
      if: always() # Upload artefacts even when build fails.
      with:
        name: Build Artifacts
        path: |
          **/build/reports
